*.bcc
*.bcc_tmp
*.bcm
*.bcm_tmp
*.buc
*.bum
*.bpo
*.bpo_tmp
*.cd
*.rel
*.smd
*.bps
.DS_Store
.gradle
~$*.*
*.fdb_latexmk
*.fls
manuscripts/FTSCS2018/source/SCXMLREF\.pdf

manuscripts/DETECT2020/source/main.pdf

manuscripts/ISSE/source/main.pdf

manuscripts/DETECT2020/reviews/DETECT20reviews.docx

GeneralDocumentation/SCXML step-transition refinements.pptx
